In [1]:
# Load packages
import numpy as np
import matplotlib.pyplot as plt  # To visualize
import pandas as pd  # To read data
from functools import reduce # To merge all datasets
from sklearn.linear_model import LinearRegression as lr # Linear Regression

In [2]:
# Load in data
Six =pd.read_csv('2016_data.csv')
Seven = pd.read_csv('2017_data.csv')
Eight = pd.read_csv('2018_data.csv')
Nine = pd.read_csv('2019_data.csv')
Twenty = pd.read_csv('2020_data.csv')
Twenty1 = pd.read_csv('2021_data.csv')

In [3]:
# 2016 data
# Simplify datasets to common variables
six = Six[['laua_code',
           'laua_name',
              'SFBB availability (% premises)',
              'UFBB availability (% premises)',                      
        ]]
six


# Rename variables
clean_six = six.rename({'laua_code' : 'laua',
                        'laua_name': 'area',
                        'SFBB availability (% premises)': '2016 SFBB availability (% premises)',
                        'UFBB availability (% premises)': '2016 UFBB availability (% premises)'}, axis='columns')

# Capitalize area string
clean_six['area']=clean_six['area'].str.upper()


# View
clean_six

,laua,area,2016 SFBB availability (% premises),2016 UFBB availability (% premises)
0,E07000114,THANET,96,0
1,E07000223,ADUR,99,0
2,E07000224,ARUN,94,0
3,E07000170,ASHFIELD,97,0
4,E08000026,COVENTRY,91,0
...,...,...,...,...
386,E07000147,NORTH NORFOLK,75,0
387,E06000024,NORTH SOMERSET,83,0
388,E08000022,NORTH TYNESIDE,88,0
389,E06000057,NORTHUMBERLAND,86,1
390,E07000218,NORTH WARWICKSHIRE,84,0

In [4]:
# 2017 data
# Simplify datasets to common variables
Seven
seven = Seven[['laua',
               'laua_name',
              'SFBB availability (% premises)',
              'UFBB availability (% premises)',                        
        ]]
seven

# Rename variables
clean_seven = seven.rename({'laua_name': 'area',
                        'SFBB availability (% premises)': '2017 SFBB availability (% premises)',
                        'UFBB availability (% premises)': '2017 UFBB availability (% premises)'}, axis='columns')

# Capitalize area string
clean_seven['area']=clean_seven['area'].str.upper()

# View
clean_seven

,laua,area,2017 SFBB availability (% premises),2017 UFBB availability (% premises)
0,S12000033,ABERDEEN CITY,90,0
1,S12000034,ABERDEENSHIRE,72,0
2,E07000223,ADUR,29,70
3,E07000026,ALLERDALE,86,1
4,E07000032,AMBER VALLEY,87,1
...,...,...,...,...
386,E07000238,WYCHAVON,85,1
387,E07000007,WYCOMBE,73,18
388,E07000128,WYRE,87,5
389,E07000239,WYRE FOREST,47,46
390,E06000014,YORK,42,50

In [5]:
# 2018 data
# Simplify datasets to common variables
Eight
eight = Eight[['laua',
               'laua_name',
              'SFBB availability (% premises)',
              'UFBB availability (% premises)',                      
        ]]
eight

# Rename variables
clean_eight = eight.rename({'laua_name': 'area',
                        'SFBB availability (% premises)': '2018 SFBB availability (% premises)',
                        'UFBB availability (% premises)': '2018 UFBB availability (% premises)'}, axis='columns')

# Capitalize area string
clean_eight['area']=clean_eight['area'].str.upper()

# View
clean_eight

,laua,area,2018 SFBB availability (% premises),2018 UFBB availability (% premises)
0,S12000033,ABERDEEN CITY,88.2,4.8
1,S12000034,ABERDEENSHIRE,77.1,1.2
2,E07000223,ADUR,32.5,66.6
3,E07000026,ALLERDALE,90.1,1.0
4,E07000032,AMBER VALLEY,70.2,22.0
...,...,...,...,...
386,E07000238,WYCHAVON,85.7,4.4
387,E07000007,WYCOMBE,70.0,23.8
388,E07000128,WYRE,89.1,5.2
389,E07000239,WYRE FOREST,44.1,51.0
390,E06000014,YORK,22.2,72.7

In [6]:
# 2019 data
# Simplify datasets to common variables
Nine
nine = Nine[['laua',
             'laua_name',
              'SFBB availability (% premises)',
              'UFBB availability (% premises)',            
        ]]
nine

# Rename variables
clean_nine = nine.rename({'laua_name': 'area',
                        'SFBB availability (% premises)': '2019 SFBB availability (% premises)',
                        'UFBB availability (% premises)': '2019 UFBB availability (% premises)'}, axis='columns')

# Capitalize area string
clean_nine['area']=clean_nine['area'].str.upper()

# View
clean_nine

,laua,area,2019 SFBB availability (% premises),2019 UFBB availability (% premises)
0,S12000033,ABERDEEN CITY,73.3,20.1
1,S12000034,ABERDEENSHIRE,78.5,2.8
2,E07000223,ADUR,16.3,82.4
3,E07000026,ALLERDALE,89.8,1.7
4,E07000032,AMBER VALLEY,67.4,25.3
...,...,...,...,...
377,E07000238,WYCHAVON,82.9,8.6
378,E07000007,WYCOMBE,68.5,26.5
379,E07000128,WYRE,88.4,5.9
380,E07000239,WYRE FOREST,49.3,46.7
381,E06000014,YORK,23.0,70.8

In [7]:
# 2020 data
# Simplify datasets to common variables
Twenty
twenty = Twenty[['laua',
                 'laua_name',
              'SFBB availability (% premises)',
              'UFBB availability (% premises)',            
        ]]
twenty

# Rename variables
clean_twenty = twenty.rename({'laua_name': 'area',
                        'SFBB availability (% premises)': '2020 SFBB availability (% premises)',
                        'UFBB availability (% premises)': '2020 UFBB availability (% premises)'}, axis='columns')

# Capitalize area string
clean_twenty['area']=clean_twenty['area'].str.upper()

# View
clean_twenty

,laua,area,2020 SFBB availability (% premises),2020 UFBB availability (% premises)
0,S12000033,ABERDEEN CITY,93.9,30.0
1,S12000034,ABERDEENSHIRE,82.0,3.2
2,E07000223,ADUR,99.1,81.7
3,E07000026,ALLERDALE,92.1,2.3
4,E07000032,AMBER VALLEY,93.3,25.5
...,...,...,...,...
377,E07000238,WYCHAVON,92.3,9.8
378,E07000007,WYCOMBE,95.7,29.8
379,E07000128,WYRE,94.8,6.0
380,E07000239,WYRE FOREST,96.7,45.9
381,E06000014,YORK,93.8,71.8

In [9]:
# 2021 data
# Simplify datasets to common variables
Twenty1
twenty1 = Twenty1[['laua',
                   'laua_name',
              'SFBB availability (% premises)',
              'UFBB availability (% premises)',            
        ]]
twenty1

# Rename variables
clean_21 = twenty1.rename({'laua_name': 'area',
                        'SFBB availability (% premises)': '2021 SFBB availability (% premises)',
                        'UFBB availability (% premises)': '2021 UFBB availability (% premises)'}, axis='columns')

# Capitalize area string
clean_21['area']=clean_21['area'].str.upper()

# View
clean_21

,laua,area,2021 SFBB availability (% premises),2021 UFBB availability (% premises)
0,S12000033,ABERDEEN CITY,94.3,50.8
1,S12000034,ABERDEENSHIRE,82.8,8.5
2,E07000223,ADUR,98.8,85.4
3,E07000026,ALLERDALE,92.5,3.1
4,E07000032,AMBER VALLEY,95.3,27.3
...,...,...,...,...
374,W06000006,WREXHAM,94.1,39.1
375,E07000238,WYCHAVON,93.8,16.3
376,E07000128,WYRE,94.7,29.0
377,E07000239,WYRE FOREST,96.6,47.7
378,E06000014,YORK,94.1,73.4

In [10]:
# Merge all datasets together

dfs = [clean_six, clean_seven, clean_eight, clean_nine, clean_twenty, clean_21] # Define which datasets

internet = reduce(lambda left, right: pd.merge (left,right,on = ['laua', 'area'], how = 'outer'), dfs) # Merge
internet # View

,laua,area,2016 SFBB availability (% premises),2016 UFBB availability (% premises),2017 SFBB availability (% premises),2017 UFBB availability (% premises),2018 SFBB availability (% premises),2018 UFBB availability (% premises),2019 SFBB availability (% premises),2019 UFBB availability (% premises),2020 SFBB availability (% premises),2020 UFBB availability (% premises),2021 SFBB availability (% premises),2021 UFBB availability (% premises)
0,E07000114,THANET,96.0,0.0,96.0,0.0,77.6,19.3,53.8,43.3,96.9,43.0,96.5,52.7
1,E07000223,ADUR,99.0,0.0,29.0,70.0,32.5,66.6,16.3,82.4,99.1,81.7,98.8,85.4
2,E07000224,ARUN,94.0,0.0,93.0,1.0,93.7,2.0,91.5,5.1,96.8,6.0,96.5,8.7
3,E07000170,ASHFIELD,97.0,0.0,98.0,0.0,9.5,89.3,14.6,83.7,98.5,85.3,98.2,86.2
4,E08000026,COVENTRY,91.0,0.0,34.0,57.0,17.8,77.7,17.9,77.7,95.9,80.4,97.8,91.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,S12000050,NORTH LANARKSHIRE,NaN,NaN,NaN,NaN,NaN,NaN,25.4,72.2,97.8,73.9,97.8,75.4
402,S12000048,PERTH AND KINROSS,NaN,NaN,NaN,NaN,NaN,NaN,52.3,32.0,84.7,32.1,85.2,35.1
403,E07000246,SOMERSET WEST AND TAUNTON,NaN,NaN,NaN,NaN,NaN,NaN,77.2,10.9,88.8,12.0,88.0,14.2
404,E07000245,WEST SUFFOLK,NaN,NaN,NaN,NaN,NaN,NaN,77.6,16.6,94.7,20.1,95.1,24.4
405,E06000060,BUCKINGHAMSHIRE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.8,42.0

In [11]:
# Deal with NA values
# internet.isnull() # check for them
# Drop them
internet.dropna()

,laua,area,2016 SFBB availability (% premises),2016 UFBB availability (% premises),2017 SFBB availability (% premises),2017 UFBB availability (% premises),2018 SFBB availability (% premises),2018 UFBB availability (% premises),2019 SFBB availability (% premises),2019 UFBB availability (% premises),2020 SFBB availability (% premises),2020 UFBB availability (% premises),2021 SFBB availability (% premises),2021 UFBB availability (% premises)
0,E07000114,THANET,96.0,0.0,96.0,0.0,77.6,19.3,53.8,43.3,96.9,43.0,96.5,52.7
1,E07000223,ADUR,99.0,0.0,29.0,70.0,32.5,66.6,16.3,82.4,99.1,81.7,98.8,85.4
2,E07000224,ARUN,94.0,0.0,93.0,1.0,93.7,2.0,91.5,5.1,96.8,6.0,96.5,8.7
3,E07000170,ASHFIELD,97.0,0.0,98.0,0.0,9.5,89.3,14.6,83.7,98.5,85.3,98.2,86.2
4,E08000026,COVENTRY,91.0,0.0,34.0,57.0,17.8,77.7,17.9,77.7,95.9,80.4,97.8,91.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,E07000147,NORTH NORFOLK,75.0,0.0,79.0,0.0,82.6,0.8,85.4,2.4,89.6,3.2,90.4,4.4
387,E06000024,NORTH SOMERSET,83.0,0.0,86.0,1.0,63.1,27.4,60.1,30.0,90.5,32.0,92.0,48.8
388,E08000022,NORTH TYNESIDE,88.0,0.0,38.0,57.0,36.4,61.7,36.9,61.0,98.2,62.5,98.5,70.0
389,E06000057,NORTHUMBERLAND,86.0,1.0,87.0,2.0,88.9,2.3,85.5,6.6,92.9,7.6,92.8,9.2
390,E07000218,NORTH WARWICKSHIRE,84.0,0.0,74.0,14.0,70.5,21.1,72.2,22.3,95.2,23.4,96.0,30.9